body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
  
}
/* .bot-army-container {
  background-color: greenyellow;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}
.bot-card {
  flex: 1;
  margin: 5px;  
}
.bot-card-container {
  display: flex;
  flex-wrap: wrap; 
} */
